[Unit]
Description=Mount Storage
After=local-fs.target network.target
Before=nmbd.service smbd.service transmission-daemon.service

[Mount]
What=/dev/sda1
Where=/media/samba


[Install]
RequiredBy=HDDs.mount